<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Project-SSS-login</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/master.css" />
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </head>
  <body class="reg">
    <div class="container-fluid">
      <form action="tag" class="regf border" method="post">
        <div class="form-group">
          <label for="name">tag:</label>
          <input required type="tag" class="form-control" id="tag" placeholder="Enter tag" name="tag" />
        </div>
        <button type="submit" name="submit" class="btn btn-outline-primary">
          Submit
        </button>
        <div class="">
          <% if (tags) { %> <% tags.forEach(function(tag){ %>
          <h2><%= tag.name %></h2>
          <h2><%= tag.usage %></h2>
          <% }) %> <% } %>
        </div>
      </form>
    </div>
  </body>
</html>
