<!DOCTYPE html>
<html>
  <head>
    <title>Storby</title>
    <link rel="stylesheet" type="text/css" href="../css/storby.css" />
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script>
      function selectTop(el) {
        $(".sort-menu").removeClass("sort-menu-active");
        $(el).addClass("sort-menu-active");
      }
      function displaySearchBar() {
        $("#Sbar").show();
        $("#right-bar").hide();
        $("#logo").hide();
      }
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="main-nav">
        <div class="main-nav-items-layout">
          <div class="left-bar">
            <div class="logo" id="logo">
              <a href="">
                <div class="logo-link"></div>
              </a>
            </div>
            <div class="search-bar">
              <input type="text" name="" placeholder="Search" id="Sbar" />
              <input type="button" name="" />
            </div>
          </div>
          <div class="right-bar" id="right-bar">
            <button id="HiddenSearchBar" onclick="displaySearchBar()"></button>
            <div class="button">
              <a href="">
                <div class="link-size">
                  <div class="icon1"></div>
                </div>
              </a>
            </div>
            <div class="button">
              <a href="">
                <div class="link-size">
                  <div class="icon2"></div>
                </div>
              </a>
            </div>
            <div class="button">
              <a href="">
                <div class="link-size">
                  <div class="icon3"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-body">
        <div class="sort-by-bar">
          <div class="sort-by-bar-layout">
            <div class="sort-by">
              <div class="button">
                <button class="sort-menu" id="suggested" onclick="selectTop(this)">Suggested</button>
              </div>
              <div class="button">
                <button class="sort-menu" id="recent" onclick="selectTop(this)">Recent</button>
              </div>
              <div class="button">
                <button class="sort-menu" id="popular" onclick="selectTop(this)">Popular</button>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-left">
          <div class="stories-box" align>
            <div class="stories-box-layout">
              <div class="text" align="center">Stories</div>
            </div>
          </div>
          <div class="list">
            <div class="item"></div>
            <div class="item"></div>
          </div>
          <div class="ad">
            Ad place
          </div>
          <div class="links">
            <a href="">About Storby</a>
            <a href="">FAQ</a>
            <a href="">Contant us</a>
            <a href="">Settings</a>
            <a href="">Developers</a>
            <a href="">Terms of use</a>
          </div>
          <div class="copyright">
            © 2019 Storby
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
